/* Titel */
.title {
	margin-left: 0.6em;
	margin-top: 1em;
	color: #222222;
	font-size: 6em;
	font-family: 'Poiret One', cursive;
}

/* Pfeil Animation */
@keyframes hover {
	0% {
		opacity: 0;
		transform: translateY(0em);
	}

	50% {
		opacity: 1;
		transform: translateY(1em);
	}

	100% {
		opacity: 0;
		transform: translateY(0em);
	}
}

/* Zeigepfeil */
.arrow{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.5em;
	opacity: 0;

	animation-name: hover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
